# Don't track python cache and eggs files.
__pycache__/
*.pyc
*.egg-info/
pylintrc

# Don't track ipython notebooks' checkpoints.
.ipynb_checkpoints/

# Don't track data
data/

# Don't track old folder
old/

# Don't track test scripts
scripts_FR/

# Don't track json files
*.json

# Don't track csv files
*.csv
# !lemmas_job_masc_fem.csv

# Don't track xml files
*.xml

# Don't track FR ressources except Python files and specific files
job_title_processing/ressources_txt/FR/**
!job_title_processing/ressources_txt/FR/*.py
!job_title_processing/ressources_txt/FR/lemmas_job_masc_fem.csv